
@model ssc.Models.ManageDepreg

<form asp-controller=Dataupload_userdept asp-action="uploaduserdata" enctype="multipart/form-data">
<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="US1.html">Dashboard</a>
        <span class="breadcrumb-item active">Upload Candidate(Selection Post)</span>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
        <h4 class="tx-gray-800 mg-b-5">Upload Candidate(Selection Post)</h4>

</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">

        <div class="form-layout form-layout-1">

            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
<select id="select2" class="form-control select2"  asp-for="upload_data.post" data-placeholder="Choose Branch">
                                         <option value=" ">Select an option</option>
                                      
                                        @foreach (var item in Model.phases_post)
                                        {
                                            <option value="@item.phase_name"> @item.phase_name</option>
                                          
                                        }
                                          </select>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label tx-gray-700">
                         <input type='file' class="form-control" id="excelFileInput"  asp-for="upload_data.Upload_doc" accept=".xlsx, .xls" onchange="validateExcelFile()"> </label>
                        
                    </div>
                   
              
            </div><!-- row -->
             
                   


    </div><!-- br-section-wrapper -->
    <div class="row mg-b-25">
     <div class="form-layout-footer">
                            @*                               <a href="/US1approval/approval"><button class="btn btn-red">Approved</button></a>
                            *@
                            <button class="btn btn-red" style="cursor:pointer">Submit</button>
                            <button class="btn btn-secondary" style="cursor:pointer">Cancel</button>
                        </div><!-- form-layout-footer -->
                        </div><!-- form-layout-footer -->

   
</div><!-- br-pagebody -->
  


</div>

</div>
</form>
<script>


    function validateExcelFile() {
    const fileInput = document.getElementById('excelFileInput');
    const fileName = fileInput.value;
    const allowedExtensions = /(\.xlsx|\.xls)$/i;

    if (!allowedExtensions.exec(fileName)) {
        alert('Invalid file type. Only Excel files are allowed.');
        fileInput.value = '';
    }
}

</script>