@model ssc.Models.annex4
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Times New Roman', serif;
            height: auto;
        }

        table {
            width: 850px;
            height: auto;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;
            height: 35px;
        }

        .tb {
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            width: 900px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }

        .add {
            float: left;
            width: 50%;
            padding: 50px;
            text-align:;
        }

        .add1 {
            float: right;
            width: 50%;
            padding: 50px;
            text-align:;
        }
    </style>
</head>
<body>
    <form asp-action="selectionpost_annex4" asp-controller="UserDepartment">
    <div class="content" style="clear:both;">
        <hr />

        <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-IV</b></u></h3>
        <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of  <input type="text" asp-for="Department"></h2>
            <h2 style="text-align:center">Ministry of  <input type="text" asp-for="Ministry"></h2>
            <h3 class="add">F.No  <input type="text" asp-for="F_No"></h3>
            <h3 class="add1" style="text-align:right;">Date  <input type="text" asp-for="Date"></h3>
    </div>
    <div class="content">
        <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
        <h1 style="text-align:center;">
            <b>(As per Procedure of recruitment under Selection Posts)</b>
        </h1>
        <ol>
            <li><p>This Office undertakes to depute an officer of at least the rank of Under Secretary or equivalent in the Central Government, for Scrutiny of documents of candidates before finalisation of results. </p></li>

            <li><p>The Ministry/Department shall also ensure the uniformity in respect of EQ i.e. Essential Qualification & Experience for the same Post(s) requisitioned across all Regions. </p></li>

            <li><p> The deputed officer is authorised by the organization to certify the admissibility of documents w.r.t educational qualifications and experience as required under the Recruitment Rules for the requisitioned post(s), which shall be treated as final. </p></li>

            <li><p>The interpretation of the deputed Officer of this Ministry/Department regarding the Essential Qualification(s)/Experience for the requisitioned post(s) shall be final and shall also be treated as uniform for identical cases of candidatesfor the same post across all Regional / Sub-Regional Offices of the Commission.</p></li>
            <li>
                <p>Staff Selection Commission shall not allow any relaxation in EQ/Experience required for the requisitioned Post(s) and the decision of the Indenting Ministry/Department shall be final.</p>
            </li>
        </ol>

        <div class="">
            <div class="add">
                <p>Official Seal</p><br /><br />
                    <p>Place : <input type="text" asp-for="Place"></p>
                    <p>Date : <input type="text" asp-for="Official_date"></p>
            </div>
            <div class="add1" style="padding-right:5px;">
                    <p>Signature of Head of Department/Head of Office  :</p>
                    
                    <br />
                    <p>Name        :&nbsp;  <input type="text" asp-for="Name"></p>
                    <p>Designation :&nbsp;  <input type="text" asp-for="Designation"></p>
                    <p>Telephonic No.&nbsp; <input type="text" asp-for="Mobile_no"></p>
                <p>E-mail       :&nbsp; <input type="text"asp-for="Email"></p>
            </div>
        </div>
            <div class="form-layout-footer" asp-action="index">
                <button class="btn btn-red  btn btn-success" id="sbt" style="cursor:pointer" type="submit"> <span class="text-white">Submit</span></button>
                <button class="btn btn-secondary " style="cursor:pointer" id="sbt" type='reset'>Cancel</button>
            </div>
    </div>
    </form>
</body>