@model ssc.Models.annex5
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Times New Roman', serif;
            height: auto;
        }

        table {
            width: 850px;
            height: auto;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;
            height: 35px;
        }

        .tb {
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            width: 900px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }

        .add {
            float: left;
            width: 50%;
            padding: 50px;
            text-align:;
        }

        .add1 {
            float: right;
            width: 50%;
            padding: 50px;
            text-align:;
        }
    </style>
</head>
<body>
     <form asp-action="selectionpost_annexV" asp-controller="UserDepartment">
    <div class="content" style="clear:both;">
        <hr />

        <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-V</b></u></h3>
        <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
            <h2 style="text-align:center">Department of  <input type="text" asp-for="Department"></h2>
            <h2 style="text-align:center">Ministry of  <input type="text" asp-for="Ministry"></h2>
            <h3 class="add">F.No  <input type="text" asp-for="F_No"></h3>
            <h3 class="add1" style="text-align:right;">Date  <input type="text" asp-for="Date"></h3>
    </div>
    <div class="content">
        <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
        <p>
            It is certified that the vacancies reported under the Requisition Proforma by this Office/Organization shall not be withdrawn. Neither the number nor the category-wise break-up of vacancies shall be altered. In the event of any unprecedented / exigent circumstances wherein there is a withdrawal of vacancies or alteration in the category-wise break-up of vacancies by this Ministry / Department, this Ministry / Department shall take full responsibility to accommodate the nominated candidates so recruited in compliance with its requisition.
        </p>

        <div class="">
            <div class="add">
                <p>Official Seal</p><br /><br />
                    <p>Place : <input type="text" asp-for="Place"></p>
                    <p>Date : <input type="text" asp-for="Date"></p>
            </div>
            <div class="add1" style="padding-right:5px;">
                <p>Signature of Head of Department/Head of Office  :</p><br /><br />
                    <p>Name        :&nbsp;  <input type="text" asp-for="Name"></p>
                    <p>Designation :&nbsp;  <input type="text" asp-for="Designation"></p>
                    <p>Telephonic No.&nbsp; <input type="text" asp-for="Mobile_no"></p>
                <p>E-mail       :&nbsp; <input type="text" asp-for="Email"></p>
            </div>
        </div>
    </div>
    </div>
    </form>
</body>