@model ssc.Models.annex3
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Times New Roman', serif;
            height: auto;
        }

        table {
            width: 850px;
            height: auto;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;
            height: 35px;
        }

        .tb {
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            width: 900px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }

        .add {
            float: left;
            width: 50%;
            padding: 50px;
            text-align:;
        }

        .add1 {
            float: right;
            width: 50%;
            padding: 50px;
            text-align:;
        }
    </style>
</head>
<body>
    <form asp-action="selectionpost_annex3" asp-controller="UserDepartment">
    <div class="content">
        <hr />

        <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-III</b></u></h3>
        <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
        <h2 style="text-align:center">Department of <input type="text" asp-for="Department"></h2>
            <h2 style="text-align:center">Ministry of  <input type="text" asp-for="Ministry"></h2>
        <h3 class="add">F.No <input type="text"></h3>
            <h3 class="add1" style="text-align:right;">Date  <input type="text" asp-for="Date"></h3>
    </div>
    <div class="content">
        <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
        <p>
                I have personally checked and ensured the correctness of all information given in the Requisition Form for the post of <input type="text" asp-for="Requisition_Form">
        </p>
        <br />
        <br />
        <p>2. It is also certified that the provisions of para 2.5 of the O.M. No. 7(2)/E.Coord/2013 dated 18.09.2013 or any subsequent orders, of Ministry of Finance, Department of Expenditure, have been taken into account while submitting the requisition.</p>
        <div class="">
            <div class="add">
                <p>Official Seal</p><br /><br />
                    <p>Place : <input type="text" asp-for="Place"></p>
                    <p>Date : <input type="text" asp-for="Official_date"></p>
            </div>
            <div class="add1" style="padding-right:5px;">
                <p>Signature of Head of Department/Head of Office  :</p>
                    <div>
                        <input type="file" id="fileInput" onchange="previewImage()" accept="image/jpeg">
                    </div>
                    <div>
                        <img id="preview" src="#" alt="Preview Image" style="display:none; width: 160px; height:80px;">
                    </div>
                    <br />
                    <p>Name         :&nbsp;  <input type="text" asp-for="Name"></p>
                    <p>Designation  :&nbsp;  <input type="text" asp-for="Designation"></p>
                    <p>Telephonic No.&nbsp;  <input type="text" asp-for="Mobile_no"></p>
                    <p>E-mail       :&nbsp;  <input type="text" asp-for="Email"></p>
            </div>
        </div>
    </div>
         <div class="form-layout-footer" asp-action="index">
            <button class="btn btn-red  btn btn-success" id="sbt" style="cursor:pointer" type="submit"> <span class="text-white">Submit</span></button>
            <button class="btn btn-secondary " style="cursor:pointer" id="sbt" type='reset'>Cancel</button>
        </div>
    </form>
</body>