@model ssc.Models.UserDepartment
<script>
    function findTotal() {
        var arr = document.getElementsByClassName('num1');
        var tot = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseFloat(arr[i].value))
                tot += parseFloat(arr[i].value);
        }
        document.getElementById('amounttotal').value = tot;

    }
    function totalFind() {
        var arr = document.getElementsByClassName('num');
        var tot = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseFloat(arr[i].value))
                tot += parseFloat(arr[i].value);
        }
        document.getElementById('amount').value = tot;

    }
</script>
<style>

    #hh {
        display: block;
        width: 100%;
        padding: 0.65rem 0.75rem;
        font-size: 0.875rem;
        line-height: 1.25;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    }
</style>


<form asp-action="Index" asp-controller="UserDepartment">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="UserDeptDashboard.html">Dashboard</a>
            <span class="breadcrumb-item active">Vacancy For MTS/ Selection Post</span>
        </nav>
    </div><!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
        <h4 class="tx-gray-800 mg-b-5">Requisition Proforma (Selection Posts)</h4>

    </div>
    
    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="row mg-b-25">

                <div class="col-lg-4">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <h4>GOVERNMENT OF INDIA</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                    </div>
                </div>
                </div>
        </div>
            <!-- br-section-wrapper -->
    </div><!-- br-pagebody -->
</form>


<script type="text/javascript">
    function ShowMessage(message) {
        alert(message);
    }
</script>