@model ssc.Models.annex1

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Times New Roman', serif;
            height: auto;
        }

        table {
            width: 850px;
            height: auto;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;
            height: 35px;
        }

        .tb {
            margin-left: auto;
            margin-right: auto;
        }

        .content {
            width: 900px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 50px;
        }

        .add {
            float: left;
            width: 50%;
            padding: 50px;
            text-align:;
        }

        .add1 {
            float: right;
            width: 50%;
            padding: 50px;
            text-align:;
        }
    </style>
</head>
<body>

    <form asp-action="selectionpost_annex1" asp-controller="UserDepartment">
    <div class="container">
<div class="content" style="clear:both;">
    <hr />

    <h3 style="text-align:right; padding-right:60px;"><u><b>Annex-I</b></u></h3>
    <h2 style="text-align:center">GOVERNMENT OF INDIA</h2>
    <h2 style="text-align:center">Department of <input type="text" asp-for="Department"></h2>
    <h2 style="text-align:center">Ministry of   <input type="text" asp-for="Ministry"></h2>
    <h3 class="add">F.No <input type="text" asp-for="F_No"></h3>
    <h3 class="add1" style="text-align:right;">Date <input type="texrrr" asp-for="Date"></h3>
</div>
<div class="content">
    <h1 style="text-align:center;"><b>CERTIFICATE</b></h1>
    <p>
        This is to certify that the Recruitment Rules (RRs) for the post of
        <input type="text" asp-for="Recruitment_Rules"> have been notified vide GSR No. <input type="text" asp-for="GSR_No"> dated
        <input type="text" asp-for="GSRNo_Date"> (Bilingual Copies of the notified RRs are also enclosed
        herewith). The Age-limit as mentioned in the RRs is .................. years and the
        relaxation in upper Age-limit shall be available as per DoP&T O.M. No.
        15012/2/2010-Estt.(D) dated the 27th March, 2012 read with the DoP&T O.M. No.
        43019/28/86-Estt.(D) dated 1.2.1999 or any subsequent orders.
    </p>
    <br />
    <br />
    <p>2. The Essential Qualification attached to the post as per RRs are:-</p>
    <table>
        <tr>
           
                                            <textarea style="height:110px" asp-for="RRs_post" class="form-control" style="width:100%" id="remark" name="remark" rows="4" cols="125"></textarea>

        </tr>
        <tr>

                                            <textarea style="height:110px" class="form-control" style="width:100%" id="remark" name="remark" rows="4" cols="125"></textarea>

        </tr>
    </table>
    <p>3. The laid down Duties and Responsibilities attached to the post are:-</p>
    <div class="row mg-b-25">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" asp-for="Duties_Res" style="width:100%" id="remark" name="remark" rows="4" cols="125"></textarea>

                            </div>
                        </div>


                    </div>
    <div class="">
        <div class="add">
            <p>Official Seal</p><br /><br />
            <p><b>Encl.: RRs</b></p><br /><br />
            <p>Place :<input type="text" asp-for="Place"></p>
                        <p>Date :<input type="text" asp-for="RRs_date"></p>
        </div>
        <div class="add1" style="padding-right:5px;">
            <p>Signature of Head of Department/Head of Office  :</p>
            <div>
                        <input type="file" id="fileInput" onchange="previewImage()" accept="image/jpeg">
                        </div>
                        <div>
                            <img id="preview" src="#" alt="Preview Image" style="display:none; width: 160px; height:80px;">
                        </div>
                        <br/>
            <p>Name        :&nbsp;    <input type="text"asp-for="Name"></p>
                        <p>Designation :&nbsp;    <input type="text" asp-for="Designation"></p>
                        <p>Telephonic No.&nbsp;   <input type="text" asp-for="Mobile_no"></p>
                        <p>E-mail       :&nbsp;   <input type="text" asp-for="Email"></p>
        </div>
    </div>
                <div class="form-layout-footer" asp-action="index">
                    <button class="btn btn-red  btn btn-success" id="sbt" style="cursor:pointer" type="submit"> <span class="text-white">Submit</span></button>
                    <button class="btn btn-secondary " style="cursor:pointer" id="sbt" type='reset'>Cancel</button>
                </div><!-- form-layout-footer -->
</div>
</div>
</form>
</body>
<script>
    function previewImage() {
        var preview = document.querySelector('#preview');
        var file = document.querySelector('#fileInput').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = "block";
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.style.display = "none";
        }
    }
</script>
</html>
