@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSC(NR) - Dashboard</title>

    <!-- vendor css -->
    <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/lib/highlightjs/github.css" rel="stylesheet">
    <link href="~/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
                
    <link href="~/lib/jquery.dataTables.css" rel="stylesheet">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet">
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/css/bracket.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>

        .btn {
            margin-left: 45%;
            margin-top: 10px;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border-radius: 8px;
            padding: 12px 24px;
            border: none;
            cursor:pointer;
        }
    </style>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Javascript -->
    <script>
        $(function () {
            $("#datepicker-1").datepicker();
        });
    </script>
</head>

<body>

    <div class="br-pagebody">
        <div>

<div>        <div class="br-section-wrapper">
            <div class="text-center pd-y-10"><img src="~/img/logo.jpg" class="img-fluid"></div>
            <div class="form-layout form-layout-1">
                <div class="row mg-b-25">

                    <div style=" margin-top:30px; color:red; font-size:26px; margin-left: 37%;">
                                       Registration Successfull.

                    </div>
                   <div style=" color:black; font-size:15px; margin-left:20%;">
                       on approval of your reg your login and password for the portal will be sent through email/sms
                   </div>
                   
                    <!-- col-4 -->

                </div><!-- modal-dialog -->
               
            </div><!-- modal -->
                    <a class="btn" href="/">Back</a>
            
        </div>
       
    </div><!-- row -->
    <div>
    <!-- form-layout-footer -->
    </div><!-- form-layout -->
    </div><!-- br-section-wrapper -->
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/bootstrap.js"></script>
    <script src="~/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>


</body>

</html>


