@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
Layout =null;

}
@*=================================================Main
Code=========================================================================*@
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@*=================================================Main
Code=========================================================================*@
<html>

<head></head>

<body>
  @*=================================================Header=========================================================================*@
  <div class="br-pagebody">
    <div class="br-section-wrapper">
      <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30 text-center">
        <img src="~/img/logo.jpg" /><br />
        <h5 class="fw-bold" style="color:black">STAFF SELECTION COMMISSION</h5>
        <p style="color:black"><b><u>Combined Higher Secondary (10+2) Level Examination . 2021</u></b></p>
        <h5 style="color:black">ONLINE DATA VERIFICATION SHEET</h5>
        @*======================================Table area==============================*@
        <div class="container mt-3 mr-3 mf-3">
          <div class="table-responsive">
            @*==============================================first Table=======================================*@
            <table class="table table-bordered">

              <tbody>
                <tr>
                  <td width="10px">1.1</td>
                  <td width="100%">Roll no.</td>
                  <td><input style="border:none" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.2</td>
                  <td width="100%">Name.</td>
                  <td><input style="border:none" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.3</td>
                  <td width="100%">Remarks with respect to the Candidate Name</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.4</td>
                  <td width="100%">Father name</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.5</td>
                  <td width="100%">Remarks with respect to the Father name .</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.6</td>
                  <td width="100%">Mother name</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.7</td>
                  <td width="100%">Remarks with respect to the Mother Name</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                <tr>
                  <td width="10px">1.8</td>
                  <td width="100%">Matriculation Roll No.
                    ( As mentioned in the Application Form)
                  </td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                <tr>
                  <td width="10px">1.9</td>
                  <td width="100%">Gender</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.10</td>
                  <td width="100%">Category(Cat 1)</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.11</td>
                  <td width="100%">Reason for change in category , if any.</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12</td>
                  <td width="100%">Whether EX-Serviceman(ESM)(Cat2)</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.1</td>
                  <td width="100%">Date of joining the Armed Force</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.2</td>
                  <td width="100%">Date of Discharge</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.3</td>
                  <td width="100%">Length of Service.</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.4</td>
                  <td width="100%">Have you joined a Government job on civil side (including public<br />
                    Sector Undertaking , Autonomous Bodies /Statutory Bodies <br />
                    Nationalized Bank etc.) on regular basis after availing of the benefits<br />
                    of reservation given to ex-serviceman for reemployment
                  </td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.5</td>
                  <td width="100%">Date of Joining of the Civil Post</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.6</td>
                  <td width="100%">Date of submission of application form</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.7</td>
                  <td width="100%">Have you submitted the self-declaration /undertaking to your current<br />
                    employer that you have applied for this examination
                  </td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.12.8</td>
                  <td width="100%">Wheather eligible for the posts reserved for ESM (Depending on re-<br />
                    employment in Govt./Semi-Govt organzation
                    )</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.13 And 1.14 </td>
                  <td width="100%">Weather person with Disability (PwD)</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.15 </td>
                  <td width="100%">Region Code</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.16</td>
                  <td width="100%">Exemption from Typewriting Test</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.17</td>
                  <td width="100%">DV schedule Date</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
                <tr>
                  <td width="10px">1.17</td>
                  <td width="100%">DV Actual Date</td>
                  <td><input style="border:none;background-color:#FFF" type="text" /></td>
                </tr>
              </tbody>
            </table>
            @*============================Second Table=========================*@

            <table class="table table-bordered m-3">
              <tbody>
                <tr>
                  <td colspan="6" style="text-align: center;"><b>PART - II (Education Details)</b></td>
                </tr>
                <tr>
                  <td width="20px" colspan="3">2.1 Highest Education Qualification(As declared by the candidate)</td>
                  <td colspan="3">Intermedite/Higher Secondary10+2(2)</td>
                </tr>
                <tr>
                  <td colspan="3">2.2 Qualifying Education Qualification</td>
                  <td colspan="3">12th Standard</td>
                </tr>
                <tr >
                  <td>State/UT of <br /> Board/University</td>
                  <td>Name of Board/University</td>
                  <td>Subject/Branch</td>
                  <td>Roll No</td>
                  <td>Year of passing </td>
                  <td>percentage</td>
                </tr>
                <tr>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="12"></textarea></td>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="20"></textarea></td>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="12"></textarea></td>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="12"></textarea></td>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="8"></textarea></td>
                  <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="5"></textarea></td>

                </tr>
              </tbody>
            </table>
             @*==========================================three table======================================================*@
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="2" style="text-align: center;"><b>PART - III (Details of Option Form)</b></td>
                    </tr>
                     <tr>
                        <td >3.1 Code for Eligible Post</td>
                       <td> <input style="border:none;background-color:#FFF" type="text" /></td>
                    </tr>
                     <tr>
                        <td >3.2 Order of preference</td>
                         <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="20"></textarea></td>
                    </tr>
                </tbody>
            </table>
            @*==========================================forth table===============================================================*@

             <table class="table table-bordered">
                <tbody>
                     

                    <tr>
                        <td colspan="2" style="text-align: center;"><b>PART - IV (Date of Birth)</b></td>
                    </tr>
                     <tr>
                        <td >3.1 Code for Eligible Post</td>
                       <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="30"></textarea></td>
                    </tr>
                     <tr>
                        <td >3.2 Order of preference</td>
                         <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="30"></textarea></td>
                    </tr>
                     <tr>
                        <td >3.2 Order of preference</td>
                         <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="30"></textarea></td>
                    </tr>
                     <tr>
                        <td >3.2 Order of preference</td>
                         <td> <textarea style="border:none;background-color:#FFF" type="text" rows="2" cols="30"></textarea></td>
                    </tr>
                </tbody>
            </table>
             <p><b>PART - V (DOCUMENT CHECKING WITH APPLICATION)</b></p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td  style="text-align: center;"><b>PARTICULARS</b></td>
                        <td  style="text-align: center;"><b>OPTION</b></td>
                        <td  style="text-align: center;"><b>Date of ISSUE</b></td>

                    </tr>
                     <tr>
                  <td >5.1 Whether Approved by Distance Education Bureau ,UGC in<br/>
                      case of education through Distance Mode
                      </td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.2 Whether document in support of DOB produced</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.3 Whether possesses Essential Qualification within the</br>
                      stipulated date</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.4 Whether document in support of caste produced</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.5 Whether OBC certificate issued from the component<br/>
                      authority in prescribed proforma produced</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.6 Whether ESM discharge certified issued within the <br/>
                         stipulated date and whether submitted undertaking     
                  </td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.7 Wherther PwD Status as claimed by the candidate<br/>
                      estabish from the certified produced </td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.8 Whether NOC produced in case of Central Govt.Civilian<br/>
                      Employee candidates who have claimed age-relaxation</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                   <tr>
                  <td >5.9 Whether central Govt.Civilian employee status<br/>
                      establis</td>
                  <td  width="10px"><input width="10px" style="border:none" type="text" /></td>
                  <td   width="10px"><input  width="10px" style="border:none" type="text" /></td>
                </tr>
                </tbody>
            </table>
          </div>
          <button onclick="printpage()">print</button>
        </div>
        <div>
           
               </div>
        </div>
        <div>
        
     
      @*==============================================Main css============================================*@
      
    </div>
  </div>
   </div>

</body>

</html>
@*===============Script to print html=============*@

<script>
  function printpage() {
    window.print();
  }
</script>