@model ssc.Models.candidate_doc
@{
    Layout = "~/Views/Shared/_LayoutCandidate.cshtml";

}

@*<form asp-action="candidateupload_doc" asp-controller="Candidatedata">*@
<form method="post" enctype="multipart/form-data" asp-action="MergePDFs" asp-controller="Candidatedata">
   
<div class="form-layout form-layout-1">
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
              <h4>Document Name</h4>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <h4>Upload File</h4>
            </div>
        </div>

    </div><!-- row -->

    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" id="file1" asp-for="doc_name1" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file1" asp-for="pdfFile1" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name2" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file2" asp-for="pdfFile2" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name3" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file3" asp-for="pdfFile3" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name4" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file4" asp-for="pdfFile4" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" asp-for="doc_name5" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file5" asp-for="pdfFile5" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name6" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" asp-for="pdfFile6" id="file6" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
<div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name7" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file7" asp-for="pdfFile7" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
<div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name8"  class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" asp-for="pdfFile8" id="file8" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
<div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name9" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file9" asp-for="pdfFile9" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->
    <div class="row mg-b-25">

        <div class="col-lg-6">
            <div class="form-group">
                    <input type="text" asp-for="doc_name10" class="form-control" />

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                    <input type="file" id="file10" asp-for="pdfFile10" onChange="validatePDF(this)" accept=".pdf" />

            </div>
        </div>

    </div><!-- row -->

    <div class="form-layout-footer">
    @*                               <a href="/US1approval/approval"><button class="btn btn-red">Approved</button></a>
        *@
            <button type="submit" id="popup-btn"  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-red">Upload Document</button>
            <button type="submit" id="popup-btn"  data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary">Cancel</button>
    </div>
</div>
</form>
